.col-md-3
  %a.thumbnail{href: product_path(product_thumbnail)}
    .caption
      %h3= product_thumbnail.name
      %p.text-muted= product_thumbnail.catalog.name
      %p= product_thumbnail.description