.col-md-3
  .thumbnail.equal-height
    .caption
      %a{href: product_path(product_thumbnail)}
        %h3= product_thumbnail.name
      %a{href: catalog_path(product_thumbnail.catalog)}
        %p.text-muted= product_thumbnail.catalog.name
      %p= product_thumbnail.description