.col-md-3
  .thumbnail
    .caption
      %h3= link_to product_thumbnail.name, product_path(product_thumbnail)
      %p.text-muted= product_thumbnail.catalog.name
      %p= product_thumbnail.description