= render @product

.panel
  .panel-heading
    .panel-title
      %h3 Reviews
  .panel-body
    .row
      = render partial: 'reviews/review', collection: @product.reviews.approved

.panel
  .panel-heading
    .panel-title
      %h3 Leave a review
  .panel-body
    .row
      = render partial: 'reviews/form'