= render @product

.panel
  .panel-heading.no-padding
    .panel-title
      %h3 Reviews
  .panel-body.no-padding
    .row
      = render partial: 'reviews/review', collection: @product.reviews.approved

.panel
  .panel-heading.no-padding
    .panel-title
      %h3 Leave a review
  .panel-body.no-padding
    - if flash[:is_pending]
      .row
        .col-xs-6
          .alert.alert-info.fade.in
            %a.close{href: '#', 'data-dismiss'.to_sym => 'alert'}
              &times;
            Your review is pending for approval!
    .row
      = render partial: 'reviews/form'