.col-xs-6
  = simple_form_for [@product, @review], url: @review.persisted? ? product_review_path(@product, @review) : product_reviews_path(@product) do |f|
    - unless user_signed_in?
      = f.input :guest_name, placeholder: 'Guest name', label: false
    = f.input :message, placeholder: 'Message', label: false
    = f.button :submit, (@review.persisted? ? 'Update review' : 'Leave review'), class: 'btn btn-primary'
