- if Review.pending.empty?
  %h1 No pending reviews!
- else
  %table.table
    %thead
      %th Guest name
      %th Review
      %th{colspan: 2}
    %tbody
    - @reviews.each do |review|
      %tr
        %td= review.guest_name
        %td= review.message
        %td= link_to 'Approve', approve_review_path(review), class: 'btn btn-success'
        %td= link_to 'Reject', catalog_product_review_path(review.product.catalog, review.product, review), method: :delete, class: 'btn btn-danger'
