#navbar
  - if user_signed_in?
    = link_to 'Sign out', destroy_user_session_path, method: 'delete'
  - elsif admin_signed_in?
    = link_to 'Sign out', destroy_admin_session_path, method: 'delete'
  - else
    = link_to 'Sign in', new_user_session_path
  - unless notice.blank?
    %p#notice= notice
  - if admin_signed_in?
    %h1 ADMIN MODE